*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LAYOUT */
body, game.html {
    margin: 0;
    overflow: hidden; /* Undgår scrollbars når fisken svømmer */
    height: 100%;
}
#backgroundPic {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* BOBLER I BAGGRUNDEN */
#bubbleContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Gør man kan klikke igennem boblerne */
    z-index: 0;
}
.bubble {
    position: absolute;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: rise linear infinite;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.2),
                1px 1px 2px rgba(0, 0, 0, 0.1);
}
@keyframes rise { /* Animation opad */
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-110vh);
    }
}
/* Sørger for at spil elementerne er ovenpå boblerne*/
#trash, #progressContainer, #slutTekst, #leftButton,#rightButton {
    position: relative;
    z-index: 1;
}

/* PROGRESSBAR */
#progressContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 30px;
    background-color: #ddd;
    border: 2px black;
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
}
#progressBar {
    height: 100%;
    width: 0%;
    background-color: green;
    transition: width 0.3s;
}

/* NAVIGATIONS KNAPPER */
#leftButton {left: 20px;}
#rightButton {right: 20px;}

#leftButton, #rightButton {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    background: transparent;
    z-index: 2;
    transition: transform 0.3s
}
    /* Hover effekt */
    #leftButton:hover, #rightButton:hover{
        transform: translateY(-50%), scale(1.2);
    }

/* FISK */
#fish_1 {
    position: absolute;
    width: 150px; /* Juster størrelsen her */
    top: 50%;
    left: 0;
    transition: transform 0.2s ease;
    z-index: 0;
}
#fish1 {
    
}

/* SEAWEED */
#seaweed_1{
    position: absolute;
    width: 20%;
    z-index: 0;
    left: 50%;
    bottom: -40px;
}
#seaweed_3{
    position: absolute;
    width: 20%;
    z-index: 0;
    left: 10%;
    bottom: -40px;
}

