*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background img{
  
    height:100vh;
    
}


/* BOBLER I BAGGRUNDEN */
#bubbleContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Gør man kan klikke igennem boblerne */
    z-index: 0;
}
.bubble {
    position: absolute;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    animation: rise linear infinite;
}
@keyframes rise { /* Animation opad */
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-110vh);
    }
}
/* Sørger for at spil elementerne er ovenpå boblerne*/
#trash, #progressContainer, #slutTekst, #fish_1{
    position: relative;
    z-index: 1;
}

/* PROGRESSBAR */
#progressContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 25px;
    background-color: #ddd;
    border-radius: 15px;
    overflow: hidden;
}
#progressBar {
    height: 100%;
    width: 0%;
    background-color: green;
    transition: width 0.3s;
}

/* NAVIGATIONS KNAPPER */
#leftBtn {
    left: 20px;
}
#rightBtn {
    right: 20px;
}
#leftBtn, #rightBtn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    padding: 10px;
    background: rgba(255,255,255,0.5);
    border: none;
    cursor: pointer;
    z-index: 2;
}


body, game.html {
    margin: 0;
    overflow: hidden; /* Undgår scrollbars når fisken svømmer */
    height: 100%;
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fish_1 {
    position: absolute;
    width: 150px; /* Juster størrelsen her */
    top: 50%;
    left: 0;
    transition: transform 0.2s ease;
    z-index: 10;
}