*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-size-small: 13px;
    --font-size-base: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 28px;

    --text-color: white;

}

.header{
    position: relative;
}

.header img{
    width: 100%;
}

.title{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mission{
    font-family:serif;

}

.header{
  position: relative;
}



.start_game{
    position: absolute;
    margin-top: 50%;
    margin-right: 50%;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 40px;
    font-size: 1.5rem;
}